.box_title {
  margin: 0;
  padding: 0;
  font-size: 0.64rem; //48
  color: #333333;
  line-height: 0.933333rem; //70
}
.box_title_eng {
  font-size: 0.506667rem; //38
  color: #ff5c47;
  line-height: 0.666667rem; //50
  padding-bottom: 0.746667rem; //56
}
.banner_box{
  img{
    display: block;
    width: 100%;
  }
}
.container_box{
  padding: 0.666667rem 0; // 50 0
  text-align: center;
  background-color: #F4F4F4;
  .option_box{
    padding: .466667rem .266667rem 0; // 35 20
    .mr{
      margin-right: .133333rem; // 10
    }
    .option{
      width: 3.013333rem; //226
      padding: 0 .333333rem; // 0 25
      background-color: #ffffff;
      padding-top: .8rem; //60
      position: relative;
      text-align: center;
      img{
        display: block;
        width: 1.493333rem; //112
        position: absolute;
        left: .8rem; //60
        top: -.746667rem; //-56
      }
      .tit{
        font-size: .333333rem; //25
        color: #333333;
      }
      .tit_eng{}
      .line{}
    }
  }
}