<div class="banner_box">
  <img src="../../../assets/images/banner3.png" alt="">
</div>
<div class="container_box">
  <h2 class="box_title">系统开发</h2>
  <div class="box_title_eng">System</div>
  <div class="option_box clearfix">
    <div class="option pull-left mr">
      <img src="../../../assets/images/system1.png" alt="">
      <div class="tit">功能全面</div>
      <div class="tit_eng">COMPREHENSIVE FUNCTION</div>
      <div class="line_box">
        <div class="line colorED5A8E"></div>
      </div>
    </div>
    <div class="option pull-left mr">
      <img src="../../../assets/images/system2.png" alt="">
      <div class="tit">扩展性强</div>
      <div class="tit_eng">STRONG EXTENSION</div>
      <div class="line_box">
        <div class="line color03A5E3"></div>
      </div>
    </div>
    <div class="option pull-left">
      <img src="../../../assets/images/system3.png" alt="">
      <div class="tit">兼容性好</div>
      <div class="tit_eng">GOOD COMPATIBILITY</div>
      <div class="line_box">
        <div class="line color58CD63"></div>
      </div>
    </div>
    <div class="option pull-left mr">
      <img src="../../../assets/images/system4.png" alt="">
      <div class="tit">易操作</div>
      <div class="tit_eng">EASY<br>
         OPERATION</div>
      <div class="line_box">
        <div class="line color58CD63"></div>
      </div>
    </div>
    <div class="option pull-left mr">
      <img src="../../../assets/images/system5.png" alt="">
      <div class="tit">多种设备同时操作</div>
      <div class="tit_eng">MULTIOLE <br>
        DEVICES</div>
      <div class="line_box">
        <div class="line color58CD63"></div>
      </div>
    </div>
    <div class="option pull-left">
      <div class="tit" style="color:#92c3fd">系统平台搭建</div>
      <div class="tit_eng">行业解决方案<br>
        个性化定制开发</div>
      <div class="line_box">
        <div class="line colorffffff"></div>
      </div>
    </div>
  </div>
</div>