<div class="banner_box">
  <img src="../../../assets/images/banner3.png" alt="">
</div>
<div class="container_box">
  <h2 class="box_title">系统开发</h2>
  <div class="box_title_eng">System</div>
  <div class="option_box clearfix">
    <div class="option pull-left mr">
      <img src="../../../assets/images/system1.png" alt="">
      <div class="tit">功能全面</div>
      <div class="tit_eng">COMPREHENSIVE FUNCTION</div>
      <div class="line"></div>
    </div>
    <div class="option pull-left mr">
      <img src="../../../assets/images/system2.png" alt="">
      <div class="tit">扩展性强</div>
      <div class="tit_eng">STRONG EXTENSION</div>
      <div class="line"></div>
    </div>
    <div class="option pull-left">
      <img src="../../../assets/images/system3.png" alt="">
      <div class="tit">兼容性好</div>
      <div class="tit_eng">GOOD COMPATIBILITY</div>
      <div class="line"></div>
    </div>
  </div>
</div>