<div class="banner_box">
  <img src="http://www.vfengs.com/home/dist/vfs-web/assets/images/banner3.png" alt="">
</div>
<div class="container_box">
  <h2 class="box_title">微信营销</h2>
  <div class="box_title_eng">Marketing</div>
  <div class="option_box clearfix">
    <div class="option pull-left">
      <div class="content">
        <img class="img" src="http://www.vfengs.com/home/dist/vfs-web/assets/images/wechat1.png" alt="">
        <div class="text">微商城</div>
      </div>
    </div>
    <div class="option pull-left">
      <div class="content">
        <img class="img" src="http://www.vfengs.com/home/dist/vfs-web/assets/images/wechat2.png" alt="">
        <div class="text">微官网</div>
      </div>
    </div>
    <div class="option pull-left">
      <div class="content">
        <img class="img" src="http://www.vfengs.com/home/dist/vfs-web/assets/images/wechat3.png" alt="">
        <div class="text">微活动</div>
      </div>
    </div>
  </div>
  <div class="banner">
    <img src="http://www.vfengs.com/home/dist/vfs-web/assets/images/banner4.png" alt="">
  </div>
</div>