<!-- bannerBox -->
<div class="banner_box">
  <img [src]="bannerUrl" alt="一站式服务" />
  <p class="big_text">{{ titleText }}</p>
  <p class="small_text">{{ desText }}</p>
</div>
<!-- service options -->
<div class="service_box">
  <h2 class="box_title">服务项目</h2>
  <div class="box_title_eng">Service Items</div>
  <div class="clearfix">
    <div
      class="option"
      *ngFor="let option of serviceItems; let i = index"
      [ngClass]="{ 'pull-left': i % 2 == 0, 'pull-right': i % 2 == 1 ,'left_bg':!option.bg,'right_bg':option.bg}"
      (click)="jump(option.routerName)"
    >
      <img class="option_img" [src]="option.imgUrl" alt="" />
      <div class="option_text">{{ option.text }}</div>
    </div>
  </div>
</div>
<!-- case options-->
<div class="case_box">
  <h2 class="box_title">案例</h2>
  <div class="box_title_eng">Case</div>
  <a [href]="case.caseurl" class="case_option" *ngFor="let case of caseItems;let i = index" [hidden]="i>2">
    <img [src]="case.pic" [alt]="case.des">
  </a>
</div>
<!-- 我们的品质 -->
<div class="quality_box">
  <h2 class="box_title">我们的品质</h2>
  <div class="box_title_eng">Quality</div>
  <div class="options_box clearfix">
    <div class="option pull-left shadow mr">
      <img src="../../../assets/images/quality1.png" alt="" class="img">
      <div class="tit color92c3fd">技术领先</div>
      <div class="des color92c3fd">始终走在行业前端</div>
    </div>
    <div class="option pull-left bgcolor mr">
      <img src="../../../assets/images/quality2.png" alt="" class="img">
      <div class="tit colorfff">服务领先</div>
      <div class="des colorfff">始终已客户为主导</div>
    </div>
    <div class="option pull-left shadow">
      <img src="../../../assets/images/quality3.png" alt="" class="img">
      <div class="tit color92c3fd">售后领先</div>
      <div class="des color92c3fd">始终为您保驾护航</div>
    </div>
  </div>
</div>
<div class="abouts_box">
  <h2 class="box_title">关于我们</h2>
  <div class="box_title_eng">About us</div>
  <div class="content">
    河南微风尚科技有限公司致力于互联网品牌建设与网络营销，专业领域包括网站建设、电子商务、移动互联网营销系统平台开发， 与其他网站建设及系统开发公司不同我们的整合解决方案结合了微风尚网络品牌建设经验和互联网整合营销的理念，并将策略和执行紧密结合，且不断评估并优化我们的方案，为客户提供一体化全方位的互联网品牌整合方案！
  </div>
</div>
