.box_title {
  margin: 0;
  padding: 0;
  font-size: 0.64rem; //48
  color: #333333;
  line-height: 0.933333rem; //70
}
.box_title_eng {
  font-size: 0.506667rem; //38
  color: #ff5c47;
  line-height: 0.666667rem; //50
  padding-bottom: 0.746667rem; //56
}
.banner_box {
  position: relative;
  img {
    display: block;
    width: 10rem; //750
    height: 7.6rem; //570
  }
  .big_text {
    margin: 0;
    width: 100%;
    font-size: 0.533333rem; //40
    color: #ffffff;
    position: absolute;
    top: 2.986667rem; //224
    text-align: center;
    line-height: 0.826667rem; //62
  }
  .small_text {
    width: 100%;
    font-size: 0.226667rem;
    color: #ffffff;
    line-height: 0.426667rem; //32
    position: absolute;
    top: 3.786667rem; //284
    text-align: center;
  }
}
.service_box {
  padding: 0.666667rem 0.333333rem; // 50 25
  text-align: center;
  // .service_box_tit {
  //   margin: 0;
  //   padding: 0;
  //   font-size: 0.64rem; //48
  //   color: #333333;
  //   line-height: 0.933333rem; //70
  // }
  // .service_box_tit_Eng {
  //   font-size: 0.506667rem; //38
  //   color: #ff5c47;
  //   line-height: 0.666667rem; //50
  //   padding-bottom: 0.746667rem; //56
  // }
  .left_bg {
    background-color: #fbfbfb !important;
  }
  .right_bg {
    background-color: #eff0f0 !important;
  }
  .option {
    width: 4.666667rem;
    height: 4.666667rem;
    vertical-align: top;
    .option_img {
      display: block;
      max-width: 1.866667rem;
      margin: 1.146667rem auto 0;
    }
    .option_text {
      font-size: 0.426667rem;
      color: #333333;
      line-height: 0.613333rem;
      padding-top: 0.333333rem; //25
    }
  }
}
.case_box {
  padding: 0.666667rem 0.333333rem; // 50 25
  text-align: center;
  .case_option {
    padding-bottom: 0.346667rem; //26
    img {
      display: block;
      width: 100%;
    }
  }
}
.quality_box{
  padding: 0.666667rem 0.333333rem; // 50 25
  text-align: center;
  .options_box{
    .shadow{
      box-shadow: 0 0 .8rem rgba(0,0,0,0.15); //60
    }
    .option{
      width: 2.88rem; //216
      padding: .666667rem 0 .506667rem 0; // 50 38
      .img{
        display: block;
        width: 1.626667rem; //122
        height: .453333rem; //34
        margin: 0 auto;
      }
      .tit{
        font-size: .24rem; //18
        line-height: .413333rem; //31
        padding-top: .666667rem; //50
      }
      .des{
        font-size: .186667rem; //14
        line-height: .453333rem; //34
        
      }
      .color92c3fd{
        color: #92c3fd !important;
      }
      .colorfff{
        color: #ffffff !important;
      }
    }
    .bgcolor{
      background-color: #92c3fd;
    }
    .mr{
      margin-right: .293333rem; //22
    }
  }
}
.abouts_box{
  padding: 0.666667rem 0.333333rem; // 50 25
  text-align: center;
  .content{
    font-size: .373333rem; //28
    color:#222222;
    line-height: .64rem; //48
  }
}