<!-- bannerBox -->
<div class="banner_box">
  <img [src]="bannerUrl" alt="一站式服务" />
  <p class="big_text">{{ titleText }}</p>
  <p class="small_text">{{ desText }}</p>
</div>
<!-- service options -->
<div class="service_box">
  <h2 class="box_title">服务项目</h2>
  <div class="box_title_eng">Service Items</div>
  <div class="clearfix">
    <div
      class="option"
      *ngFor="let option of serviceItems; let i = index"
      [ngClass]="{ 'pull-left': i % 2 == 0, 'pull-right': i % 2 == 1 ,'left_bg':!option.bg,'right_bg':option.bg}"
    >
      <img class="option_img" [src]="option.imgUrl" alt="" />
      <div class="option_text">{{ option.text }}</div>
    </div>
  </div>
</div>
<!-- case options-->
<div class="case_box">
  <h2 class="box_title">案例</h2>
  <div class="box_title_eng">Case</div>
  <div class="case_option" *ngFor="let case of caseItems">
    <img [src]="case.imgUrl" [alt]="case.text">
  </div>
</div>
<!-- 我们的品质 -->
<div class="quality_box">
  <h2 class="box_title">我们的品质</h2>
  <div class="box_title_eng">Quality</div>
  <div class="options_box clearfix">
    <div class="option pull-left shadow mr">
      <img src="../../../assets/images/quality1.png" alt="" class="img">
      <div class="tit color92c3fd">技术领先</div>
      <div class="des color92c3fd">始终走在行业前端</div>
    </div>
    <div class="option pull-left bgcolor mr">
      <img src="../../../assets/images/quality2.png" alt="" class="img">
      <div class="tit colorfff">服务领先</div>
      <div class="des colorfff">始终已客户为主导</div>
    </div>
    <div class="option pull-left shadow">
      <img src="../../../assets/images/quality3.png" alt="" class="img">
      <div class="tit color92c3fd">售后领先</div>
      <div class="des color92c3fd">始终为您保驾护航</div>
    </div>
  </div>
</div>
