.banner_box{
  position: relative;
  img{
    display: block;
    width: 10rem; //750
    height: 7.6rem; //570
  }
  .big_text{
    margin: 0;
    width: 100%;
    font-size: .533333rem; //40
    color: #ffffff;
    position: absolute;
    top: 2.986667rem; //224
    text-align: center;
    line-height: .826667rem; //62
  }
  .small_text{
    width: 100%;
    font-size: .226667rem;
    color: #ffffff;
    line-height: .426667rem; //32
    position: absolute;
    top: 3.786667rem; //284
    text-align: center;
  }
}
.service_box{
  padding: .666667rem .333333rem; // 50 25
  text-align: center;
  .service_box_tit{
    margin: 0;
    padding: 0;
    font-size: .64rem; //48
    color: #333333;
    line-height: .933333rem; //70
  }
  .service_box_tit_Eng{
    font-size: .506667rem; //38
    color: #ff5c47;
    line-height: .666667rem; //50
    padding-bottom: .746667rem //56
  }
  .left_bg{
    background-color: #FBFBFB !important;
  }
  .right_bg{
    background-color: #EFF0F0 !important;
  }
  .option{
    width: 4.666667rem;
    height: 4.666667rem;
    vertical-align: top;
    .option_img{
      display: block;
      max-width: 1.866667rem;
      margin: 1.146667rem auto 0;
    }
    .option_text{
      font-size: .426667rem;
      color: #333333;
      line-height: .613333rem;
    }
  }
}