.banner_box{
  position: relative;
  img{
    display: block;
    width: 10rem; //750
    height: 7.6rem; //570
  }
  .big_text{
    margin: 0;
    width: 100%;
    font-size: .533333rem; //40
    color: #ffffff;
    position: absolute;
    top: 2.986667rem; //224
    text-align: center;
    line-height: .826667rem; //62
  }
  .small_text{
    width: 100%;
    font-size: .226667rem;
    color: #ffffff;
    line-height: .426667rem; //32
    position: absolute;
    top: 3.786667rem; //284
    text-align: center;
  }
}