<!-- bannerBox -->
<div class="banner_box">
  <img [src]="bannerUrl" alt="一站式服务" />
  <p class="big_text">{{ titleText }}</p>
  <p class="small_text">{{ desText }}</p>
</div>
<!-- service options -->
<div class="service_box">
  <h2 class="service_box_tit">服务项目</h2>
  <div class="service_box_tit_Eng">Service Items</div>
  <div class="clearfix">
    <div
      class="option"
      *ngFor="let option of serviceItems; let i = index"
      [ngClass]="{ 'pull-left': i % 2 == 0, 'pull-right': i % 2 == 1 ,'left_bg':!option.bg,'right_bg':option.bg}"
    >
      <img class="option_img" [src]="option.imgUrl" alt="" />
      <div class="option_text">{{ option.text }}</div>
    </div>
  </div>
</div>
