.bgcolorF4F4F4{
  background-color: #F4F4F4;
}
.box_title {
  margin: 0;
  padding: 0;
  font-size: 0.64rem; //48
  color: #333333;
  line-height: 0.933333rem; //70
}
.box_title_eng {
  font-size: 0.506667rem; //38
  color: #ff5c47;
  line-height: 0.666667rem; //50
  padding-bottom: 0.746667rem; //56
}
.banner_box{
  img{
    display: block;
    width: 100%;
  }
}
.container_box{
  padding: 0.666667rem 0; // 50 0
  text-align: center;
  .box{
    padding: .8rem .333333rem; // 60 25
    .img_box{
      width: 4rem; // 300
      height: 2.4rem; // 180
      vertical-align: top;
      img{
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .paddingLeft{
      padding-left: .266667rem; //20
    }
    .paddingRight{
      padding-right: .266667rem; //20
    }
    .text_box{
      width: 5.066667rem; //380
      vertical-align: top;
      .tit{
        padding: 0;
        margin: 0;
        font-size: .44rem; //33
        color: #92c3fd;
        line-height: .533333rem; //40
        text-align: left
      }
      .cont{
        padding: 0;
        margin: 0;
        font-size: .253333rem; //19
        color: #333333;
        line-height: .453333rem;
        text-align: left;
      }
    }
  }
}