<div class="banner">
  <img src="http://www.vfengs.com/home/dist/vfs-web/assets/images/banner2.png" alt="" />
</div>
<div class="content_box">
  <div class="warnig_text">
    我们会在24小时之内回复您的信息。感谢您浏览了我们的网站，如 果需要更多帮助，
    欢迎向我们提交需求信息，我们也欢迎您亲临公 司与我们面谈。
  </div>
  <form action="" class="form_box">
    <input type="text" placeholder="请输入用户名">
    <input type="text" placeholder="请输入电话号码" class="mt">
    <input type="text" placeholder="请输入电子邮件" class="mt">
    <textarea placeholder="请输入留言..." class="mt"></textarea>
    <button type="button" class="finish">完成并发送</button>
  </form>
</div>
