.banner{
  img{
    display: block;
    width: 100%;
  }
}
.content_box{
  padding: 1.173333rem .333333rem 0;//88 25 0
  .warnig_text{
    text-align: center;
    font-size: .293333rem; //22
    color: #999999;
    line-height: .453333rem; //34
  }
  .form_box{
    display: block;
    padding: .666667rem .266667rem; //50 20
    text-align: center;
    input{
      display: block;
      width: 100%;
      height: .8rem; //60
      line-height: .8rem; //60
      border: 0;
      background-color: #F3F3F3;
      padding: 0 .266667rem; // 0 20
      font-size: .266667rem; //20
    }
    textarea{
      display: block;
      width: 100%;
      height: 2rem; //150
      font-size: .266667rem; //20
      border: 0;
      background-color: #F3F3F3;
      padding: 0 .266667rem; // 0 20
      line-height: .8rem; //60
    }
    .mt{
      margin-top: .186667rem; //14
    }
    .finish{
      width: 3.466667rem; //260
      height: .933333rem; //70
      font-size: .4rem; //30
      margin-top: 1.44rem; //108
      color: #fafafa;
      border: 0;
      background-color: #2488FA
    }
  }
}